<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'show_rating/header.html' %}
    <title>Hire Me</title>

</head>

<body>

<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Like my work?</h1>

                <p class="lead">If you like my work and you want me to handle your project,
                    please fill the below form so that I can contact you and we can discuss.
                    Alternatively, you can send an email to me at <a
                            href="mailto:sid.8491@gmail.com?subject=Show+Analyzer+Hiire+Me">sid.8491@gmail.com</a><br>
                    Click below to see more work of mine.<br>
                </p>

                <p><a class="btn btn-lg btn-success" href="{% url 'projects' %}" role="button">More Projects!</a></p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- /container fluid -->

<div class="container">
    <form class="form-horizontal" method="post" action="{% url 'hiremesubmit' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Contact Form</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name</label>

                <div class="col-md-4">
                    <input id="textinput" name="name" placeholder="Enter name please" class="form-control input-md"
                           type="text" required="true">
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Email Address</label>

                <div class="col-md-4">
                    <input id="textinput" name="email" placeholder="Enter email address"
                           class="form-control input-md" type="text">
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Contact Number</label>

                <div class="col-md-4">
                    <input id="textinput" name="contact" placeholder="Enter contact number"
                           class="form-control input-md"
                           type="text">
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">Comments (if any)</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="textarea" name="comments"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>

                <div class="col-md-4">
                    <button id="singlebutton" name="submit" class="btn btn-primary">Submit <span
                            class="glyphicon glyphicon-envelope"></span></button>
                </div>
            </div>

        </fieldset>
    </form>

</div>
<!-- /container -->
</body>
</html>