<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
{% include 'show_rating/header.html' %}
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col col-lg-2"></div>
        <div class="col col-lg-8">
            <h1>Projects</h1>

            <p>These are some small projects I have worked on recently.</p>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>
<div class="container blog" style="border: ridge 1px; background-color: #f5f5f5">
    {% for i in context %}
        <div class="row">
            <div class="col col-lg-1"></div>
            <div class="col col-lg-10">
                <h2 class="">{{ i.name }}</h2><br>
                <span>{{ i.coded_on }}</span>
                <br>
                {{ i.summary }}
                <br><br>
                <a class="btn btn-primary" href="{% url 'projects_details' i.name %}">Read More</a>
{#                <br>#}
            </div>
            <div class="col col-lg-2"></div>
        </div>
        <hr style="width: 100%; color: #808080; height: 1px; background-color:#808080;"/>
    {% endfor %}
</div>

</body>
</html>